body,
html {
  padding: 0;
  margin: 0;
  border: 0;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
input,
input[type="number"] {
  resize: horizontal;
  width: 150px;
  margin-bottom: 5px;
}
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: lightblue;
}
.logo {
  font-size: 36px;
}

#library {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 40px;
}
.bookCard {
  display: flex;
  flex-flow: column;
  align-content: stretch;
  min-width: 150px;
  width: 100%;
}
.cardHeader {
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: #faa;
  border-radius: 10px 10px 0 0;
}
.cardInfo {
  display: flex;
  align-items: center;
  min-height: 79px;
  background-color: #afa;
}
.cardFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 60px;
  background-color: #aaf;
  border-radius: 0 0 10px 10px;
}
.cardHeader,
.cardInfo,
.cardFooter {
  padding-left: 10px;
  padding-right: 10px;
}

#dropdown {
  position: absolute;
  background-color: chartreuse;
  margin-top: 6px;
  margin-right: 10px;
  width: 180px;
  right: 0;
  border-radius: 10px;
}
